<h1>Freezer items</h1>
<% @freezer.each do |item| %>
  <% cat = Category.find(item[0].category_id) %>
  <% subcat = cat.subcategory.nil? ? "" : cat.subcategory%>
  <%= cat.category + subcat + ":" %>
  <%= item[0].name + "," %>
  <% date = expiration_date_format(item[1].dop_expiration_date_min) %>
  <%= form_for @user_product, url: update_date_path, method: :patch do %>
    <input class="userProductInput" id="<%=item[1].id%>" type="text" value="<%=date%>">
  <% end %>
<% end %>

<h1>Pantry items</h1>

<% @pantry.each do |item| %>
  <% cat = Category.find(item[0].category_id) %>
  <% subcat = cat.subcategory.nil? ? "" : cat.subcategory%>
  <%= cat.category + subcat + ":" %>
  <%= item[0].name + "," %>
  <% date = expiration_date_format(item[1].dop_expiration_date_min) %>
  <%= form_for @user_product, url: update_date_path, method: :patch do %>
    <input class="userProductInput" id="<%=item[1].id%>" type="text" value="<%=date%>">
  <% end %>
<% end %>

<h1>Fridge items</h1>
<% @fridge.each do |item| %>
  <% cat = Category.find(item[0].category_id) %>
  <% subcat = cat.subcategory.nil? ? "" : cat.subcategory%>
  <%= cat.category + subcat + ":" %>
  <%= item[0].name + "," %>
  <% date = expiration_date_format(item[1].dop_expiration_date_min) %>
  <%= form_for @user_product, url: update_date_path, method: :patch do %>
    <input class="userProductInput" id="<%=item[1].id%>" type="text" value="<%=date%>">
  <% end %>
<% end %>


