<!DOCTYPE html>
<html>
<head>
  <title>FoodTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'autocomplete-rails.js', 'data-turbolinks-track' => true  %>
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js">
  </script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <%= csrf_meta_tags %>
</head>
<body>
  <% unless session[:user_id].nil? %>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <label class="labelItem" for="product_name0">Name</label>

          <input type="text" data-autocomplete="<%=autocomplete_path%>" data-update-elements="{}" name="products[][name]" class="inputItem" id="product_name0">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    <%= link_to "Log Out", logout_path, class: "navbar-right btn btn-default", method: :delete %>
      <%if current_page?(user_food_path(session[:user_id]))%>
        <%= link_to "Add More Items", list_path(session[:user_id]), class: "navbar-right btn btn-default" %>
      <% else %>
        <%= link_to "View Lists", user_food_path(session[:user_id]), class: "navbar-right btn btn-default" %>
      <% end %>
    </div>
  </nav>
  <% end %>

<%= yield %>

</body>
</html>
